body {
  margin: 0;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body.light-theme {
  background-color: #f9f9f9;
  color: #213547;
}

body.dark-theme {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}